<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= Room.find(@booking.room_id).room_number %>
</p>

<p>
  <strong>Member:</strong>
  <%= Member.find(@booking.member_id).email %>
</p>

<p>
  <strong>Booking start:</strong>
  <%= convert_time_to_dateTime @booking %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
