<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @booking.room_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @booking.member_id %>
</p>

<p>
  <strong>Booking start:</strong>
  <%= @booking.booking_start %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
