<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.text_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :capacity %> <br>
    <%= f.radio_button :capacity, '4'  %>
    <%= label :capacity_4, '4 chairs' %> <br>
    <%= f.radio_button :capacity, '6'  %>
    <%= label :capacity_6, '6 chairs' %> <br>
    <%= f.radio_button :capacity, '12'  %>
    <%= label :capacity_12, '12 chairs' %> <br>
  </div>
  <div class="field">
    <%= f.label :building %> <br>
    <%= f.radio_button :building, '0'  %>
    <%= label :building_four, "D.H.Hill" %> <br>
    <%= f.radio_button :building, '1'  %>
    <%= label :building_four, 'James.B.Hunt' %> <br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
