<h1>Library Management System</h1>
<h2>User Sign In</h2>
<p>Please Sign in</p>
<p id="notice"><%= notice %></p>

<%= form_for(:tracker) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.check_box :admin, {}, true, false =%>
    <%= f.label "Sign in as admin" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>

<% end %>
