<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Library Management </h1>
<h3><%= link_to 'Home', logged_in_user %>
<%= link_to 'Sign out', tracker_logout_path %></h3>
<%= yield %>

</body>
</html>
