<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Library Management </h1>
<div class="container">
  <ul class="nav nav-tabs">
      <li><%= link_to 'Home', logged_in_user%></li>
      <li><%= link_to 'Sign Out', tracker_logout_path%></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
