<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<%= link_to 'Update Information', edit_member_path(@member) %>
<% if @member.admin %>
  <%= link_to 'Create Rooms', new_room_path %>
  <%= link_to 'Manage Library Members', members_path %>
  <%= link_to 'Create New Admins', members_new_admin_path %>
  <%= link_to 'Create New Member', new_member_path %>
  <%= link_to 'Book Room For A Member ', new_room_path %>
  <%= link_to 'Book Room', new_room_path %>

<% end %>
