<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<%= link_to 'Update Information', edit_member_path(@member) %> <br>
<% if @member.admin %>

  <%= link_to 'Create Rooms', new_room_path %> <br>
  <%= link_to 'Manage Library Members', members_path %> <br>
  <%= link_to 'Create New Admins', members_new_admin_path %> <br>
  <%= link_to 'Create New Member', new_member_path %> <br>
  <%= link_to 'Book Room For A Member ', bookings_new_by_admin_path %> <br>
  <%= link_to 'View History Of User', bookings_new_history_for_selection_path %> <br>
  <%= link_to 'View History Of Room', bookings_new_history_for_room_path %> <br>

<% end %>
  <%= link_to 'Book Room', new_booking_path %> <br>
  <%= link_to 'View My History', bookings_history_for_current_path %> <br>
