<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Is Admin:</strong>
  <%= @member.is_admin %>
</p>

<%= link_to 'Update Information', edit_member_path(@member) %>
<%= if @member.is_admin %>
  <%= link_to 'Create Rooms', new_room_path %>
<%= end %>
